In [1]:
# %%
%load_ext sql

In [16]:
# %%
%sql mysql+mysqldb://root:@localhost/test

In [6]:
# %%
%sql ALTER TABLE exam_answers ADD COLUMN id SERIAL PRIMARY KEY;

 * mysql+mysqldb://root:***@localhost/test
0 rows affected.

[]

In [8]:
%sql DELETE a FROM exam_answers AS a, exam_answers AS b WHERE a.id > b.id AND a.script_detail_id <=> b.script_detail_id AND a.subcategory_name <=> b.subcategory_name AND a.test_name <=> b.test_name AND a.step_type <=> b.step_type AND a.start_time <=> b.start_time AND a.end_time <=> b.end_time AND a.loop_number <=> b.loop_number AND a.dog_guid <=> b.dog_guid;

 * mysql+mysqldb://root:***@localhost/test
0 rows affected.

[]

In [9]:
%sql ALTER TABLE exam_answers DROP COLUMN id;

 * mysql+mysqldb://root:***@localhost/test
19998 rows affected.

[]